{% extends "base.html" %}
{% block content %}    
    <section class="probootstrap_section" id="section-city-guides">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-12">
            <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
              <div class="media-body">
                <div class="row">
                  <div class="col-md-3">
                    <p>Hello</p>
                  </div>
                  <div class="col-md-3">
                    <p>World</p>
                  </div>
                  <div class="col-md-3">
                    <p>Hello</p>
                  </div>
                  <div class="col-md-3">
                    <p>World</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Hello</p>
                  </div>
                  <div class="col-md-6">
                    <p>World</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="media probootstrap-media d-flex align-items-stretch mb-4 probootstrap-animate">
              <div class="media-body">
                <h5 class="mb-3">02. Service Title Here</h5>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}